 @media (min-width: 300px) {
    .main_container{
        padding: 8.5rem 2rem; 
    }

    .main_container .suspects_container{
        gap: 0.5rem;
    }

    .main_container .form_container{
        text-align: center;
    }
}

@media (max-width: 800px){
    .swipper_wrapper .arrow{
        display: flex;
    }
}